body{
     background: #1C3D59;
     display: grid;
     place-content: center;
     color: #BF871F;
     main{
          h1{
               font-size: 50px;
               text-align: center;
          }
          form{
               display: flex;
               flex-flow: column wrap;
               gap: 25px ;
               .haceres{
                    display: flex;
                    flex-flow: column wrap;
                    gap: 5px;
                    >div{
                         display: flex;
                         gap: 5px;
                         align-items: center;
                    }
               }
          }
     }
}

.tareas, .enviar{
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: #D9D9D9;
    background: #BF871F;
    font-size: 18px;
}

.tareas{
    background: rgba(#BF871F, .2);
    color: white;
}

.etiquetas{
    font-size: 20px;
}

.borrar{
    all: unset;
    opacity: 50%;
    height: 15px;
    width: 15px;
    background: url('../IMG/trashWhite.svg') center no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
    &:hover{
        opacity: 100%;
        transition: .5s;
    }
}